@import "../Helpers/variables";

/** COUNTER **/
#counter {
    width: 100%;
    padding: 55px 0;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    
    .col-sm-4 {
	    border-right: 1px solid $White;
	    &:last-child{
	    	border-right: none;
	    }
	}

	.counter-overlay {
	    width: 100%;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.5);
	    position: absolute;
	    top: 0;
	    left: 0;
	}

    .widget_counter {
	    margin-top: 0;
	}/* /.widget_counter */

	.counter-number {
	    width: 100%;
	    display: block;
	    margin-bottom: 10px;
	    line-height: 0.9;
	    font-weight: 900;
	    font-size: 50px;
	    color: $White;
		font-family: $font-Black;

	}/* /.counter-number */

	.counter-description {
	    width: 100%;
	    line-height: 2.25;
	    display: block;
	    font-size: 20px;
	    color: $White;
	    text-transform: uppercase;
	}/* /.counter-description */

}/* /#counter */


