@import "../Helpers/variables";

/** SERVICES **/
#services {
    width: 100%;
    background: $White;
    padding: 65px 0 75px 0;
    text-align: center;


    .section-header {
	    width: 100%;
	    margin-bottom: 65px;

		p{
			font-family: $font-Regular;
		}

	}/* /.section-header */

	.section-content {
	    width: 100%;

	    .service {
		    width: 100%;
		    
			
			.service-icon {
			    width: 100%;
			    margin-bottom: 10px;
			    font-size: 34px;
			    
			}/* /.service-icon */

			.service-title {
			    width: 100%;
			    margin-bottom: 30px;
			    line-height: 1.611;
			    font-weight: 700;
			    font-size: 18px;
			    text-transform: uppercase;
			    
			}/* /.service-title */	

			.service-entry {
			    width: 100%;
			    line-height: 1.6;
			    color: #888;
			   	font-family: $font-Regular;
			}/* /.service-entry */	
			  
		}/* /.service */

	}/* /.section-content */

	.widget_service:nth-child(1), .widget_service:nth-child(2), .widget_service:nth-child(3) {
	    margin-top: 0;
	}

	.widget_service {
	    margin-top: 40px;
	}


}/* /#services */	

