@import "../Helpers/variables";

/** TESTIMONIALS **/
#testimonials {
    width: 100%;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    background: #6a305e;
    background: -moz-linear-gradient(top, #6a305e 0%, #451c56 100%);
    background: -webkit-linear-gradient(top, #6a305e 0%, #451c56 100%);
    background: linear-gradient(to bottom, #6a305e 0%, #451c56 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a305e', endColorstr='#451c56', GradientType=0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    .section-header {
	    width: 100%;
	    margin-bottom: 40px;

	    h3 {
	    	color: $White;
		}/* /h3 */

	}/* /.section-header */

	.section-content{
		width:100%;
		
		.testimonials-common{
			width:100%;

		}
	
		.testimonials-top{
			transform: translate3d(-1950px, 0px, 0px);
		    transition: 0s;
		    width: 7800px;
		    position: relative;

		    .testimonials-all-item{
		    	text-align: center;
		    }


		}

		.testimonials-content{
			height:100px;
			background: #1BF05C;
			padding-top: 20px;
		}

		.testimonials-meta{
			height:100px;
			background: #15C3B1;
		}

		.testimonials-control{
			height: 100px;
			background: #E3EF20;
		}

	}/* /.section-content */

}/* /#testimonials */