$font-Black: "Source Sans Pro Black", sans-serif;
$font-Regular: "Source Sans Pro Regular", sans-serif;
$font-ExtraLight: "Source Sans Pro ExtraLight", sans-serif;
$Yellow: rgba(241, 210, 4, 1);
$Red: #f18b6d;
$Blue: #6a4d8a;
$White: #fff;
$Black: #000;